@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
}

body {
    max-width: 1160px;
    margin: 0 auto;

}

/* Global stytle */
.primary-btn {
    background-color: orange;
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: 15px 50px;
}

.sec-btn {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    padding: 15px 50px;
}

.section-tiitle {
    font-size: 2.88rem;
    font-weight: bold;


}

.caeds-tittle {
    font-size: 1.8rem;
    font-weight: bold;
    color: #202020;
}

.card-dic {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(102, 102, 102, 1);
}

.display-flex {
    display: flex;
}

/* header style */
.School-header {
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

/* Navbar style */
.logo {
    align-items: center;
    gap: 12px;

}

.nav-menu>ul {
    list-style: none;
    gap: 30px;
}

.nav-links {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
}

#Home {
    color: orange;
}

#About {
    color: skyblue;
}

#Facilities {
    color: rgba(5, 212, 223, 1);
}

#Admission {
    color: rgba(93, 88, 239, 1);

}

.mobile-menu {
    display: none;
}

/* header section style */
.header-section {
    align-items: center;
    justify-content: space-between;
}

.header-section-content {
    max-width: 640px;
    flex-direction: column;
    align-items: flex-start;
}

.header-section-tittle {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
}

.primary-tiitle-coolor {
    color: orange;

}

.sec-tittile-color {
    color: #01ACFD;
}

.header-section-dis {
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
    margin: 24px 0px;
}

/* Curriculam section style */
.Standard-Curriculum {
    background-image: url(../assets/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px;
}

.cards-items {
    gap: 30px;
    padding-bottom: 80px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    border-radius: 20px;
}

#card-bg1 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 49%, rgba(222, 245, 255, 1) 100%);
    border: 1px solid #DEF5FF;
}

#card-bg2 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 49%, rgba(255, 244, 220, 1) 100%);
    border: 1px solid #FFF4DC;
}

#card-bg3 {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 49%, rgba(242, 232, 255, 1) 100%);


    border: 1px solid #F2E8FF;
}

.dis-center {
    text-align: center;
    margin: 10px 0px;
}

.card-img {
    margin-bottom: 10px;
}

.card-btn1 {
    font-size: 1rem;
    font-weight: bold;
    color: #64C8FF;
    background-color: #01adfd00;
    border: none;

}

.card-btn2 {
    font-size: 1rem;
    font-weight: bold;
    color: #F0AA00;
    background-color: #01adfd00;
    border: none;
}

.card-btn3 {
    font-size: 1rem;
    font-weight: bold;
    color: #8700FF;
    background-color: #01adfd00;
    border: none;
}

#curriculum-tittle {
    text-align: center;
    margin-bottom: 80px;
}

.arrow-btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.arrow-btns>img {
    background-color: orange;
    border-radius: 50px;
}

/* small divice responsive */
@media screen and (max-width:576px) {
    body {
        max-width: 576px;
        margin: 0 auto;
        padding: 0px 15px;

    }

    .section-tiitle {
        font-size: 1.8rem;

    }

    .School-header {
        border-bottom: solid 1px orange;
        padding-bottom: 10px;
        max-width: 550px;
    }

    .logo-text {
        display: none;
    }

    .mobile-menu {
        display: inline;
        margin-right: 15px;
    }

    .nav-menu-item,
    .nav-menu-btn {
        display: none;
    }

    /* header section */
    .header-section {
        flex-direction: column-reverse;
        max-width: 500px;

    }

    .header-section-content {
        align-items: center;

        flex-direction: column;
    }

    .header-section-tittle {
        font-size: 2rem;
        text-align: center;
    }

    .header-section-dis {
        font-size: .8rem;
        font-weight: 400;
        color: black;
        margin: 15px 10px;
        text-align: center;
    }

    /* card style */
    .cards-items {
        flex-direction: column;
    }

    .card {
        margin: 20px 10px;
    }

    #curriculum-tittle {
        margin-bottom: 20px;
    }

    .arrow-btns {
        display: none;
    }
}

/* Medium, divice responsive */
@media screen and (min-width:577px) and (max-width:992px) {
    body {
        max-width: 992px;
        margin: 0 auto;
    }

    .School-header {
        border-bottom: solid 1px orange;
        padding-bottom: 10px;
    }

    .logo-text {
        display: none;
    }

    .mobile-menu {
        display: inline;
        margin-right: 15px;
    }

    .nav-menu-item,
    .nav-menu-btn {
        display: none;
    }

    /* header section style */
    .header-section {
        flex-direction: column-reverse
    }

    .header-section-content {
        align-items: center;
        max-width: 992px;
        flex-direction: column;

    }

    .header-section-tittle {

        text-align: center;
    }

    .header-section-dis {
        text-align: center;
    }

    /* cards style */
    .cards-items {
        flex-direction: column;
    }

    .card {
        margin: 20px 10px;
    }

    #curriculum-tittle {
        margin-bottom: 20px;
    }

    .arrow-btns {
        display: none;
    }
}